/* Reset de valores predeterminados HTML */
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
     box-sizing: border-box;
}

.textdecoration{
	text-decoration: none;
}
/* Fuentes */
/*font-family: 'Lora', serif;
font-family: 'Roboto', sans-serif;*/
.navfont{
	font-family: 'Roboto', sans-serif;
	font-style: bold;
}

.hover-effect:hover {
	text-shadow: 2px 2px 4px #888787;
	color: #CA6F1E !important;
  }

.conocenosfont{
	font-family: 'Roboto', sans-serif;
	color: #CA6F1E !important;
	font-size: 5rem;
	text-shadow: 4px 4px 6px #000000;
}

.descubrifont{
	font-family: 'Roboto', sans-serif;
	color: #CA6F1E !important;
	font-size: 2rem;
	text-shadow: 2px 2px 4px #5f5f5f;
}

.franquiciasfont{
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
}


/* Medidas generales */

body{
	width: 100vw;
	height: 573vh;
}

header{
	width: 100vw;
	height: 22vh;
}

main{
	width: 100vw;
	height: 510vh;
}

footer{
	background-color: #000000;
	width: 100vw;
	height: 40vh;
}
/* Estilos del Header */

#logonav{
    width: 120px;
    height: 120px;
}

#estilonav{
    background-color: black !important;
}

.estilofuente{
    color: white !important;
}

.botonpeya {
	background-color: #FF4500;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	border: none;
	border-radius: 6px;
	padding: 10px 20px;
	text-transform: uppercase;
	text-align: center;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	display: inline-block;
	position: relative;
	height: 40px;
	width: 120px;
  }

  .botonpeya::before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 120px;
	height: 40px;
	transform: translate(-50%, -50%);
	background-image: url(../assets/images/PedidosYa.png);
	background-size: cover;
	border-radius: 5px;
  }
  
  .botonpeya:hover {
	background-color: #FF6B38;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  }


  /* Estilos index main */ 

  .img-main{
	width: 100%;
	height: 100% !important;
}

.contenedor{
	width: 100%;
	height: 600px;
	position: relative;
}
 /* mensaje we love mila */
 /* ------------------------------------------------------------ */
 .fuentemila {
	font-family: 'Roboto', sans-serif;
	font-style: bold;
	color: #f8f7f6  !important;
	text-shadow: 6px 6px 8px #000000;
  }


.mensajemila{
	font-size: 4.2rem;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -30%);
  opacity: 0;
  transition: opacity 0.8s ease;
}

.mensajemila.show{
	position: absolute;
	opacity: 1;
	top: 300px; /* Puedes ajustar la posición de acuerdo a tus preferencias */
	left: 50%;
	transform: translateX(-45%, -30%);
}
/* -------------------------------------------------------------- */

.colorbtncard{
	background-color:#e27435 !important;
	border: #000000 !important;
	font-family: 'Roboto', sans-serif !important;
}

 /* mensaje estacion con amigos */
 /* ------------------------------------------------------------ */
#imgamigos{
	width: 100% !important;
	height: 150vh;
	margin-top: 50px;
}

.contenedoramigos{
	width: 100%;
	height: 600px;
	position: relative;
}

.mensajeamigos{
	font-size: 3rem;
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translateX(-50%, -30%);
  opacity: 0;
  transition: opacity 0.8s ease;
}

.mensajeamigos.show{
	position: absolute;
	opacity: 1;
	top: 50%;
	left: 10%;
	transform: translateX(-50%, -30%);
}

.fuenteamigos {
	font-family: 'Roboto', sans-serif;
	font-style: bold;
	color: #f8f7f6  !important;
	text-shadow: 6px 6px 8px #000000;
	font-size: 6rem;
  }

.amigoscaja{
	width: 100%;
	height: 165vh;
}
/* ------------------------------------------------------------ */



#franquiciaimg{
	width: 50%;
	height: 600px !important;
}

#btnmedidas{
	width: 40%;
	height: 45px;
}


/* SECCION FOOTER */ 

.titulofooter{
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 2rem;
}



.menufooter{
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 1rem;
}

.milafooter{
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: white;
}

.opcionesfooter{
	font-family: 'Lora', serif;
	color: rgb(141, 141, 141);
}

.opcionesfooter:hover{
	color: white;
}

.redes{
	width: 50px;
	height: 50px;
	background-color: white;
}

.fa-instagram{
	font-size: 45px;
}

.fa-facebook{
	font-size: 45px;
}

#logofooter{
	width: 150px;
	height: 150px;
}


.ocultar{
	display: none;
}


/* MEDIA QUERYS */

@media only screen and (min-width: 279px) and (max-width: 375px) {
	body{
		width: 100vw;
		height: 500vh;
	}
	
	header{
		width: 100vw;
		height: 16vh;
		position: relative;
		z-index: 1;
	}
	
	main{
		width: 100vw;
		height: 500vh;
	}
	
	footer{
		background-color: #000000;
		width: 100vw;
		height: 40vh;
	}
	.botonpeya {
		display: none;
	  }
	  .img-main{
		width: 100%;
		height: 94% !important;
	}
	.contenedor{
		width: 100%;
		height: 500px;
		position: relative;
	}
	.conocenosfont{
		font-family: 'Roboto', sans-serif;
		color: #CA6F1E !important;
		font-size: 3.7rem;
		text-shadow: 4px 4px 6px #000000;
	}
	.mensajemila{
		font-size: 3.3rem;
		position: absolute;
	  top: 40%;
	  left: 50%;
	  transform: translate(-45%, -30%);
	  opacity: 0;
	  transition: opacity 0.8s ease;
	}
	
	.mensajemila.show{
		position: absolute;
		opacity: 1;
		top: 40%;
		left: 50%;
		transform: translateX(-45%, -30%);
	}
	.fuenteamigos {
		font-family: 'Roboto', sans-serif;
		font-style: bold;
		color: #f8f7f6  !important;
		text-shadow: 6px 6px 8px #000000;
		font-size: 2rem;
	  }
	  .mensajeamigos{
	position: absolute;
	top: 20%;
	left: 10%;
	transform: translateX(-45%, -30%);
  opacity: 0;
  transition: opacity 0.8s ease;
}

.mensajeamigos.show{
	position: absolute;
	opacity: 1;
	top: 20%;
	left: 10%;
	transform: translateX(-30%, -50%);
}
#imgamigos{
	width: 100% !important;
	height: 50vh;
	margin-top: 50px;
}
.amigoscaja{
	width: 100%;
	height: 60vh;
}
.conocenosfont{
	font-family: 'Roboto', sans-serif;
	color: #CA6F1E !important;
	font-size: 3rem;
	text-shadow: 4px 4px 6px #000000;
}
.franquiciasfont{
	font-family: 'Roboto', sans-serif;
	font-size: 0.8rem;
}
#franquiciaimg{
	width: 100%;
	height: 400px !important;
	margin-top: 10px;
}
}
@media only screen and (min-width: 376px) and (max-width: 411px){
	body{
		width: 100vw;
		height: 470vh;
	}
	
	header{
		width: 100vw;
		height: 14vh;
		position: relative;
		z-index: 1;
	}
	
	main{
		width: 100vw;
		height: 415vh;
	}
	
	footer{
		background-color: #000000;
		width: 100vw;
		height: 40vh;
	}
	.botonpeya {
		display: none;
	  }
	  .img-main{
		width: 100%;
		height: 94% !important;
	}
	.contenedor{
		width: 100%;
		height: 500px;
		position: relative;
	}
	.conocenosfont{
		font-family: 'Roboto', sans-serif;
		color: #CA6F1E !important;
		font-size: 3.7rem;
		text-shadow: 4px 4px 6px #000000;
	}
	.mensajemila{
		font-size: 3.3rem;
		position: absolute;
	  top: 40%;
	  left: 50%;
	  transform: translate(-45%, -30%);
	  opacity: 0;
	  transition: opacity 0.8s ease;
	}
	
	.mensajemila.show{
		position: absolute;
		opacity: 1;
		top: 40%;
		left: 50%;
		transform: translateX(-45%, -30%);
	}
	.fuenteamigos {
		font-family: 'Roboto', sans-serif;
		font-style: bold;
		color: #f8f7f6  !important;
		text-shadow: 6px 6px 8px #000000;
		font-size: 2rem;
	  }
	  .mensajeamigos{
	position: absolute;
	top: 20%;
	left: 10%;
	transform: translateX(-45%, -30%);
  opacity: 0;
  transition: opacity 0.8s ease;
}

.mensajeamigos.show{
	position: absolute;
	opacity: 1;
	top: 20%;
	left: 10%;
	transform: translateX(-30%, -50%);
}
#imgamigos{
	width: 100% !important;
	height: 50vh;
	margin-top: 50px;
}
.amigoscaja{
	width: 100%;
	height: 60vh;
}
.conocenosfont{
	font-family: 'Roboto', sans-serif;
	color: #CA6F1E !important;
	font-size: 3rem;
	text-shadow: 4px 4px 6px #000000;
}
.franquiciasfont{
	font-family: 'Roboto', sans-serif;
	font-size: 0.8rem;
}
#franquiciaimg{
	width: 100%;
	height: 400px !important;
	margin-top: 10px;
}
}
@media only screen and (min-width: 412px) and (max-width: 767px) {
	body{
		width: 100vw;
		height: 445vh;
	}
	
	header{
		width: 100vw;
		height: 14vh;
		position: relative;
		z-index: 1;
	}
	
	main{
		width: 100vw;
		height: 390vh;
	}
	
	footer{
		background-color: #000000;
		width: 100vw;
		height: 40vh;
	}
	.botonpeya {
		display: none;
	  }
	  .img-main{
		width: 100%;
		height: 94% !important;
	}
	.contenedor{
		width: 100%;
		height: 500px;
		position: relative;
	}
	.conocenosfont{
		font-family: 'Roboto', sans-serif;
		color: #CA6F1E !important;
		font-size: 3.7rem;
		text-shadow: 4px 4px 6px #000000;
	}
	.mensajemila{
		font-size: 3.3rem;
		position: absolute;
	  top: 40%;
	  left: 50%;
	  transform: translate(-45%, -30%);
	  opacity: 0;
	  transition: opacity 0.8s ease;
	}
	
	.mensajemila.show{
		position: absolute;
		opacity: 1;
		top: 40%; /* Puedes ajustar la posición de acuerdo a tus preferencias */
		left: 50%;
		transform: translateX(-45%, -30%);
	}
	.fuenteamigos {
		font-family: 'Roboto', sans-serif;
		font-style: bold;
		color: #f8f7f6  !important;
		text-shadow: 6px 6px 8px #000000;
		font-size: 2rem;
	  }
	  .mensajeamigos{
	position: absolute;
	top: 20%;
	left: 10%;
	transform: translateX(-45%, -30%);
  opacity: 0;
  transition: opacity 0.8s ease;
}

.mensajeamigos.show{
	position: absolute;
	opacity: 1;
	top: 20%;
	left: 10%;
	transform: translateX(-30%, -50%);
}
#imgamigos{
	width: 100% !important;
	height: 50vh;
	margin-top: 50px;
}
.amigoscaja{
	width: 100%;
	height: 60vh;
}
.conocenosfont{
	font-family: 'Roboto', sans-serif;
	color: #CA6F1E !important;
	font-size: 3rem;
	text-shadow: 4px 4px 6px #000000;
}
.franquiciasfont{
	font-family: 'Roboto', sans-serif;
	font-size: 0.8rem;
}
#franquiciaimg{
	width: 100%;
	height: 400px !important;
	margin-top: 10px;
}
}

@media only screen and (min-width: 768px) and (max-width: 949px) {
	body{
		width: 100vw;
		height: 479vh;
	}
	
	header{
		width: 100vw;
		height: 14vh;
		position: relative;
		z-index: 1;
	}
	
	main{
		width: 100vw;
		height: 425vh;
	}
	
	footer{
		background-color: #000000;
		width: 100vw;
		height: 40vh;
	}
	.botonpeya {
		display: none;
	  }
	  .mensajemila{
		font-size: 6rem;
		position: absolute;
	  top: 30%;
	  left: 50%;
	  transform: translate(-45%, -30%);
	  opacity: 0;
	  transition: opacity 0.8s ease;
	}
	.mensajemila.show{
		position: absolute;
		opacity: 1;
		top: 30%;
		left: 50%;
		transform: translateX(-45%, -30%);
	}
	.fuenteamigos {
		font-family: 'Roboto', sans-serif;
		font-style: bold;
		color: #f8f7f6  !important;
		text-shadow: 6px 6px 8px #000000;
		font-size: 4.5rem;
	  }
	  .mensajeamigos{
	position: absolute;
	top: 30%;
	left: 10%;
	transform: translateX(-45%, -30%);
  opacity: 0;
  transition: opacity 0.8s ease;
}

.mensajeamigos.show{
	position: absolute;
	opacity: 1;
	top: 30%;
	left: 10%;
	transform: translateX(-30%, -50%);
}
#imgamigos{
	width: 100% !important;
	height: 80vh;
	margin-top: 50px;
}
.amigoscaja{
	width: 100%;
	height: 90vh;
}
}
@media only screen and (min-width: 950px) and (max-width: 991px) {
	body{
		width: 100vw;
		height: 765vh;
	}
	
	header{
		width: 100vw;
		height: 10vh;
		position: relative;
		z-index: 1;
	}
	
	main{
		width: 100vw;
		height: 290vh;
	}
	
	footer{
		background-color: #000000;
		width: 100vw;
		height: 40vh;
	}
	.botonpeya {
		display: none;
	  }
	  .mensajemila{
		font-size: 3.4rem;
		position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-45%, -30%);
	  opacity: 0;
	  transition: opacity 0.8s ease;
	}
	.fuenteamigos {
		font-family: 'Roboto', sans-serif;
		font-style: bold;
		color: #f8f7f6  !important;
		text-shadow: 6px 6px 8px #000000;
		font-size: 4rem;
	  }
	  #logofooter{
		width: 60%;
		height: 40%;
	}
	#imgamigos{
		width: 100% !important;
		height: 60vh;
		margin-top: 50px;
	}
	.amigoscaja{
		width: 100%;
		height: 70vh;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1162px) {
	body{
		width: 100vw;
		height: 290vh;
	}
	
	header{
		width: 100vw;
		height: 10vh;
	}
	
	main{
		width: 100vw;
		height: 260vh;
	}
	
	footer{
		background-color: #000000;
		width: 100vw;
		height: 20vh;
	}
	#logofooter{
		width: 40%;
		height: 50%;
	}
	.fuenteamigos {
		font-family: 'Roboto', sans-serif;
		font-style: bold;
		color: #f8f7f6  !important;
		text-shadow: 6px 6px 8px #000000;
		font-size: 4.4rem;
	  }
	  .mensajemila{
		font-size: 3.7rem;
		position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-45%, -30%);
	  opacity: 0;
	  transition: opacity 0.8s ease;
	}
	#imgamigos{
		width: 100% !important;
		height: 50vh;
		margin-top: 50px;
	}
	.amigoscaja{
		width: 100%;
		height: 55vh;
	}
}
@media only screen and (min-width: 1163px) and (max-width: 1279px) {

	body{
		width: 100vw;
		height: 762vh;
	}
	
	header{
		width: 100vw;
		height: 24vh;
	}
	
	main{
		width: 100vw;
		height: 700vh;
	}
	
	footer{
		background-color: #000000;
		width: 100vw;
		height: 40vh;
	}
	#logofooter{
		width: 40%;
		height: 60%;
	}
	.fuenteamigos {
		font-family: 'Roboto', sans-serif;
		font-style: bold;
		color: #f8f7f6  !important;
		text-shadow: 6px 6px 8px #000000;
		font-size: 5rem;
	  }
}
@media only screen and (min-width: 1280px) and (max-width: 1439px) {
	body{
		width: 100vw;
		height: 539vh;
	}
	
	header{
		width: 100vw;
		height: 19vh;
	}
	
	main{
		width: 100vw;
		height: 480vh;
	}
	
	footer{
		background-color: #000000;
		width: 100vw;
		height: 40vh;
	}
	#logofooter{
		width: 40%;
		height: 60%;
	}
}

@media only screen and (min-width: 1440px) and (max-width: 1600px) {
	body{
		width: 100vw;
		height: 466vh;
	}
	
	header{
		width: 100vw;
		height: 16vh;
	}
	
	main{
		width: 100vw;
		height: 410vh;
	}
	
	footer{
		background-color: #000000;
		width: 100vw;
		height: 40vh;
	}
	#logofooter{
		width: 40%;
		height: 60%;
	}
}

