/* Reset de valores predeterminados HTML */
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
     box-sizing: border-box;
}

.textdecoration{
	text-decoration: none;
}
/* Fuentes */
/*font-family: 'Lora', serif;
font-family: 'Roboto', sans-serif;*/
.navfont{
	font-family: 'Roboto', sans-serif;
	font-style: bold;
}

.hover-effect:hover {
	text-shadow: 2px 2px 4px #888787;
	color: #CA6F1E !important;
  }

.conocenosfont{
	font-family: 'Roboto', sans-serif;
	color: #CA6F1E !important;
	font-size: 5rem;
	text-shadow: 4px 4px 6px #000000;
}

.descubrifont{
	font-family: 'Roboto', sans-serif;
	color: #CA6F1E !important;
	font-size: 2rem;
	text-shadow: 2px 2px 4px #5f5f5f;
}

.franquiciasfont{
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
}


/* Medidas generales */

body{
	width: 100vw;
	height: 573vh;
}

header{
	width: 100vw;
	height: 22vh;
}

main{
	width: 100vw;
}

footer{
	background-color: #000000;
	width: 100vw;
	height: 40vh;
}
/* Estilos del Header */

#logonav{
    width: 120px;
    height: 120px;
}

#estilonav{
    background-color: black !important;
}

.estilofuente{
    color: white !important;
}


.botonpeya {
	background-color: #FF4500;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	border: none;
	border-radius: 6px;
	padding: 10px 20px;
	text-transform: uppercase;
	text-align: center;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	display: inline-block;
	position: relative;
	height: 40px;
	width: 120px;
  }

  .botonpeya::before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 120px;
	height: 40px;
	transform: translate(-50%, -50%);
	background-image: url(../assets/images/PedidosYa.png);
	background-size: cover;
	border-radius: 5px;
  }
  
  .botonpeya:hover {
	background-color: #FF6B38;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  }


  /* Estilos index main */ 

  .img-main{
	width: 100%;
	height: 700px;
	
}

.contenedor{
	width: 100%;
	position: relative;
}
 /* mensaje we love mila */
 /* ------------------------------------------------------------ */
 .fuentemila {
	font-family: 'Roboto', sans-serif;
	font-style: bold;
	color: #f8f7f6  !important;
	text-shadow: 6px 6px 8px #000000;
  }


.mensajemila{
	font-size: 4.2rem;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -30%);
  opacity: 0;
  transition: opacity 0.8s ease;
}

.mensajemila.show{
	position: absolute;
	opacity: 1;
	top: 300px; /* Puedes ajustar la posición de acuerdo a tus preferencias */
	left: 50%;
	transform: translateX(-45%, -30%);
}
/* -------------------------------------------------------------- */

.colorbtncard{
	background-color:#e27435 !important;
	border: #000000 !important;
	font-family: 'Roboto', sans-serif !important;
}

 /* mensaje estacion con amigos */
 /* ------------------------------------------------------------ */
#imgamigos{
	width: 100% !important;
	height: 150vh;
	margin-top: 5%;
}

.contenedoramigos{
	width: 100%;
	height: 600px;
	position: relative;
}

.mensajeamigos{
	font-size: 3rem;
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translateX(-50%, -30%);
  opacity: 0;
  transition: opacity 0.8s ease;
}

.mensajeamigos.show{
	position: absolute;
	opacity: 1;
	top: 50%;
	left: 10%;
	transform: translateX(-50%, -30%);
}

.fuenteamigos {
	font-family: 'Roboto', sans-serif;
	font-style: bold;
	color: #f8f7f6  !important;
	text-shadow: 6px 6px 8px #000000;
	font-size: 6rem;
  }

.amigoscaja{
	width: 100%;
	height: 165vh;
}
/* ------------------------------------------------------------ */



#franquiciaimg{
	width: 100%;
	height: 600px !important;
}

#btnmedidas{
	width: 40%;
	height: 45px;
}


/* SECCION FOOTER */ 

.titulofooter{
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 2rem;
}



.menufooter{
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 1rem;
}

.milafooter{
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: white;
}

.opcionesfooter{
	font-family: 'Lora', serif;
	color: rgb(141, 141, 141);
}

.opcionesfooter:hover{
	color: white;
}

.redes{
	width: 50px;
	height: 50px;
	background-color: white;
}

.fa-instagram{
	font-size: 45px;
}

.fa-facebook{
	font-size: 45px;
}

#logofooter{
	width: 150px;
	height: 150px;
}


.ocultar{
	display: none;
}


/* MEDIA QUERYS */


@media (min-width: 280px){
	body{
		width: 100vw;
		height: 300vh;
	}
	
	header{
		width: 100vw !important;
		z-index: 3;
		position: absolute;
	}
	
	main{
		width: 100vw;
	}
	
	footer{
		background-color: #000000;
		width: 100vw;
	}
	.botonpeya{
		display: none;
	}
	.img-main{
		width: 100%;
		height: 200px;
		margin-top: 140px;
	}
	
	.contenedor{
		width: 113%;
		position: relative;
	}
	.conocenosfont{
		font-family: 'Roboto', sans-serif;
		color: #CA6F1E !important;
		font-size: 3.5rem;
		text-shadow: 4px 4px 6px #000000;
	}
	.fuentemila {
		font-family: 'Roboto', sans-serif;
		font-style: bold;
		color: #f8f7f6  !important;
		text-shadow: 6px 6px 8px #000000;
	  }
	
	
	.mensajemila{
		font-size: 3rem;
		position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-45%, -30%);
	  opacity: 0;
	  transition: opacity 0.8s ease;
	}
	
	.mensajemila.show{
		position: absolute;
		opacity: 1;
		top: 300px; /* Puedes ajustar la posición de acuerdo a tus preferencias */
		left: 50%;
		top: 50%;
		transform: translateX(-45%, -30%);
	}
	#imgamigos{
		width: 100% !important;
		height: 50vh;
		margin-top: 5%;
	}
	.mensajeamigos{
		font-size: 2rem;
		position: absolute;
		top: 10%;
		left: 10%;
		transform: translateX(-50%, -30%);
	  opacity: 0;
	  transition: opacity 0.8s ease;
	}
	
	.mensajeamigos.show{
		position: absolute;
		opacity: 1;
		top: 10%;
		left: 10%;
		transform: translateX(-50%, -30%);
	}
	.amigoscaja{
		width: 100%;
		height: 55vh;
	}
	.conocenosfont{
		font-family: 'Roboto', sans-serif;
		color: #CA6F1E !important;
		font-size: 2.8rem;
		text-shadow: 4px 4px 6px #000000;
	}
	.franquiciasfont{
		font-family: 'Roboto', sans-serif;
		font-size: 0.9rem;
	}
	.left{
		margin-left: 35px;
	}
	#btnmedidas{
		width: 60%;
		height: 45px;
		margin-left: 40px;
		margin-bottom: 5px;
	}
	#franquiciaimg{
		width: 700px !important;
		height: 200px !important;
		margin-left: 10px;
		margin-bottom: 10px;
	}

}

@media (min-width: 576px){
	body{
		width: 100vw;
		height: 300vh;
	}
	
	header{
		width: 100vw !important;
		z-index: 3;
		position: absolute;
	}
	
	main{
		width: 100vw;
	}
	
	footer{
		background-color: #000000;
		width: 100vw;
	}
	.botonpeya{
		display: none;
	}
	.img-main{
		width: 100%;
		height: 200px;
		margin-top: 140px;
	}
	
	.contenedor{
		width: 113%;
		position: relative;
	}
	.conocenosfont{
		font-family: 'Roboto', sans-serif;
		color: #CA6F1E !important;
		font-size: 3.5rem;
		text-shadow: 4px 4px 6px #000000;
	}
	.fuentemila {
		font-family: 'Roboto', sans-serif;
		font-style: bold;
		color: #f8f7f6  !important;
		text-shadow: 6px 6px 8px #000000;
	  }
	
	
	.mensajemila{
		font-size: 3rem;
		position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-45%, -30%);
	  opacity: 0;
	  transition: opacity 0.8s ease;
	}
	
	.mensajemila.show{
		position: absolute;
		opacity: 1;
		top: 300px; /* Puedes ajustar la posición de acuerdo a tus preferencias */
		left: 50%;
		top: 50%;
		transform: translateX(-45%, -30%);
	}
	#imgamigos{
		width: 100% !important;
		height: 50vh;
		margin-top: 5%;
	}
	.mensajeamigos{
		font-size: 2rem;
		position: absolute;
		top: 10%;
		left: 10%;
		transform: translateX(-50%, -30%);
	  opacity: 0;
	  transition: opacity 0.8s ease;
	}
	
	.mensajeamigos.show{
		position: absolute;
		opacity: 1;
		top: 10%;
		left: 10%;
		transform: translateX(-50%, -30%);
	}
	.amigoscaja{
		width: 100%;
		height: 55vh;
	}
	.conocenosfont{
		font-family: 'Roboto', sans-serif;
		color: #CA6F1E !important;
		font-size: 2.8rem;
		text-shadow: 4px 4px 6px #000000;
	}
	.franquiciasfont{
		font-family: 'Roboto', sans-serif;
		font-size: 0.9rem;
	}
	.left{
		margin-left: 35px;
	}
	#btnmedidas{
		width: 60%;
		height: 45px;
		margin-left: 40px;
		margin-bottom: 5px;
	}
	#franquiciaimg{
		width: 700px !important;
		height: 200px !important;
		margin-left: 10px;
		margin-bottom: 10px;
	}

	
}
@media (min-width: 768px){
	body{
		width: 100vw;
		height: 300vh;
	}
	
	header{
		width: 100vw !important;
		z-index: 3;
		position: absolute;
	}
	
	main{
		width: 100vw;
	}
	
	footer{
		background-color: #000000;
		width: 100vw;
	}
	.botonpeya{
		display: none;
	}
	.img-main{
		width: 100%;
		height: 200px;
		margin-top: 140px;
	}
	
	.contenedor{
		width: 113%;
		position: relative;
	}
	.conocenosfont{
		font-family: 'Roboto', sans-serif;
		color: #CA6F1E !important;
		font-size: 3.5rem;
		text-shadow: 4px 4px 6px #000000;
	}
	.fuentemila {
		font-family: 'Roboto', sans-serif;
		font-style: bold;
		color: #f8f7f6  !important;
		text-shadow: 6px 6px 8px #000000;
	  }
	
	
	.mensajemila{
		font-size: 3rem;
		position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-45%, -30%);
	  opacity: 0;
	  transition: opacity 0.8s ease;
	}
	
	.mensajemila.show{
		position: absolute;
		opacity: 1;
		top: 300px; /* Puedes ajustar la posición de acuerdo a tus preferencias */
		left: 50%;
		top: 50%;
		transform: translateX(-45%, -30%);
	}
	#imgamigos{
		width: 100% !important;
		height: 50vh;
		margin-top: 5%;
	}
	.mensajeamigos{
		font-size: 2rem;
		position: absolute;
		top: 10%;
		left: 10%;
		transform: translateX(-50%, -30%);
	  opacity: 0;
	  transition: opacity 0.8s ease;
	}
	
	.mensajeamigos.show{
		position: absolute;
		opacity: 1;
		top: 10%;
		left: 10%;
		transform: translateX(-50%, -30%);
	}
	.amigoscaja{
		width: 100%;
		height: 55vh;
	}
	.conocenosfont{
		font-family: 'Roboto', sans-serif;
		color: #CA6F1E !important;
		font-size: 2.8rem;
		text-shadow: 4px 4px 6px #000000;
	}
	.franquiciasfont{
		font-family: 'Roboto', sans-serif;
		font-size: 0.9rem;
	}
	.left{
		margin-left: 35px;
	}
	#btnmedidas{
		width: 60%;
		height: 45px;
		margin-left: 40px;
		margin-bottom: 5px;
	}
	#franquiciaimg{
		width: 700px !important;
		height: 420px !important;
		margin-left: 10px;
		margin-bottom: 10px;
	}

}

@media (min-width: 992px){
	body{
		width: 100vw;
		height: 300vh;
	}
	
	header{
		width: 100vw !important;
		z-index: 3;
		position: absolute;
	}
	
	main{
		width: 100vw;
	}
	
	footer{
		background-color: #000000;
		width: 100vw;
	}
	.botonpeya{
		display: none;
	}
	.img-main{
		width: 100%;
		height: 200px;
		margin-top: 140px;
	}
	
	.contenedor{
		width: 113%;
		position: relative;
	}
	.conocenosfont{
		font-family: 'Roboto', sans-serif;
		color: #CA6F1E !important;
		font-size: 3.5rem;
		text-shadow: 4px 4px 6px #000000;
	}
	.fuentemila {
		font-family: 'Roboto', sans-serif;
		font-style: bold;
		color: #f8f7f6  !important;
		text-shadow: 6px 6px 8px #000000;
	  }
	
	
	.mensajemila{
		font-size: 3rem;
		position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-45%, -30%);
	  opacity: 0;
	  transition: opacity 0.8s ease;
	}
	
	.mensajemila.show{
		position: absolute;
		opacity: 1;
		top: 300px; /* Puedes ajustar la posición de acuerdo a tus preferencias */
		left: 50%;
		top: 50%;
		transform: translateX(-45%, -30%);
	}
	#imgamigos{
		width: 100% !important;
		height: 50vh;
		margin-top: 5%;
	}
	.mensajeamigos{
		font-size: 2rem;
		position: absolute;
		top: 10%;
		left: 10%;
		transform: translateX(-50%, -30%);
	  opacity: 0;
	  transition: opacity 0.8s ease;
	}
	
	.mensajeamigos.show{
		position: absolute;
		opacity: 1;
		top: 10%;
		left: 10%;
		transform: translateX(-50%, -30%);
	}
	.amigoscaja{
		width: 100%;
		height: 55vh;
	}
	.conocenosfont{
		font-family: 'Roboto', sans-serif;
		color: #CA6F1E !important;
		font-size: 2.8rem;
		text-shadow: 4px 4px 6px #000000;
	}
	.franquiciasfont{
		font-family: 'Roboto', sans-serif;
		font-size: 0.9rem;
	}
	.left{
		margin-left: 35px;
	}
	#btnmedidas{
		width: 60%;
		height: 45px;
		margin-left: 40px;
		margin-bottom: 5px;
	}
	#franquiciaimg{
		width: 700px !important;
		height: 420px !important;
		margin-left: 10px;
		margin-bottom: 10px;
	}
}

@media (min-width: 1200px){
	body{
		width: 100vw;
		height: 300vh;
	}
	
	header{
		width: 100vw !important;
		z-index: 3;
		position: absolute;
	}
	
	main{
		width: 100vw;
	}
	
	footer{
		background-color: #000000;
		width: 100vw;
	}
	.botonpeya{
		display: block;
	}
}

@media (min-width: 1400px){

}